<a href="https://colab.research.google.com/github/sanjay-9948/python/blob/main/task4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Program!
prices = [120, 85, 300, 150, 60]
total_bill = sum(prices)
highest_price = max(prices)
lowest_price = min(prices)

print("Total Bill Amount:", total_bill)
print("Highest Priced Item:", highest_price)
print("Lowest Priced Item:",lowest_price)

In [3]:

students = [
    ("Rahul", 456),
    ("Priya", 390),
    ("Karan", 420),
    ("Anita", 470),
    ("Vijay", 365)
]

highest_student = max(students, key=lambda x: x[1])
print("Student with Highest marks:", highest_student[0], highest_student[1])

print("Students scoring above 400:")
for name, marks in students:
    if marks > 400:
        print(name,"-",marks)

Student with Highest marks: Anita 470
Students scoring above 400:
Rahul - 456
Karan - 420
Anita - 470

In [4]:
countries = {
    "India": "New Delhi",
    "France": "Paris",
    "Japan": "Tokyo"
}

new_country = input("Enter a new country:")
new_capital = input("Enter its capital:")
countries[new_country] = new_capital

search_country = input("Enter country to find its capital:")

if search_country in countries:
    print("capital of", search_country, "is", countries[search_country])
else:
    print("Country not found!")
print ("\n country-capital pairs in alphabetical order:")
for country in sorted (countries):
    print (country, "-", countries[country])

Enter a new country:India
Enter its capital:Delhi
Enter country to find its capital:pakistan
Country not found!

 country-capital pairs in alphabetical order:
France - Paris
India - Delhi
Japan - Tokyo